<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ak.css' %}">
</head>

<body>

    <h1>welcome admin</h1>
    <div class="main">
        {% for i in users %}
        <div class="first">
            <div class="p1">name :{{i.name}}</div>
            <div class="p2">useremail :{{i.email}}</div>
            <div class="p3">password :{{i.password}}</div>
        </div>
        {% endfor %}
    </div>

</body>

</html>