<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
</head>
<body>
    <form action="../admlogin" method="POST">
        {% csrf_token %}
        <input type="text" name="usname" placeholder="username" id="">
        <p></p>
        <input type="password" name="psword" placeholder="password" id="">
        <p></p>
        <button type="submit">login</button>
        </form>
    
</body>
</html>